
@{
    ViewBag.Title = "Creating A Project";
}

<h2>Creating A Project</h2>

<p>Creating a .NET MVC project is very quick and easy, here's how to do it.</p>


<ol>
    <li>Open your prefered version of <b>Visual Studio</b></li>
    <li>Click <b>File</b></li>
    <li>Click <b>New</b></li>
    <li>Click <b>Project</b></li>
    <li>Select the <b>ASP.NET Web Application (.NET Framework)</b> template under the <b>Web</b> category</li>
    <li>Give your project a name</li>
    <li>Then select the <b>MVC</b> template and <b>Individual User Accounts</b> authentication</li>
</ol>

<p>Voila! Your .NET MVC project is created and you are ready to start coding!</p>

<p>Lets go look at some code!</p>

<br />
<hr />
<br />
<span>
    @Html.ActionLink("Back to MVC Overview", "MvcOverview", "Home", new { @class = "btn btn-default" })
    @Html.ActionLink("MVC Code Overview", "ScaffoldedProjectCodeOverview", "Home", new { @class = "btn btn-primary" })
</span>