
@{
    ViewBag.Title = "List";
}

@model DeveloperUniversity.Models.ViewModels.BlogListViewModel

<div id="content">

    <h1>@ViewBag.Title</h1>

        @Html.Partial("_PagerPartial", Model)

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostTemplate", post)
        }
    }
    else
    {
        <p>No posts found!</p>
    }

    @Html.Partial("_PagerPartial", Model)

</div>