
@{
    ViewBag.Title = "AboutMigrations";
}


<div class="panel panel-primary" style="margin-top: 50px;">
    <div class="panel-heading">
        <h4>What are migrations?</h4>
    </div>
    <div class="panel-body">
        <h4><b>The TLDR version</b></h4>
        <p>Migrations are how the solution keeps track of what tables and columns should be in the database.</p>
        <p>As you develop and deploy your solutions, you will be adding multiple classes and properties to be placed into the database.
            Everytime you deploy with migrations enabled, the models and properties in your soltion are compared to the tables and columns in the database and if they do not match
            EntityFramework will attempt to update the database to match the classes and properties that it knows about in your solution.
        </p>

        <p><b>Note:</b> If you do not add the class as a DbSet to the DbContext, Entity Freamework will not try to add that model and its properties as a table into the database.</p>                
        
        <hr/>
        <h4><b>In-depth Explanation</b></h4>
        <p>
            More about migrations to come in the future.
        </p>

    </div>
</div>
