
@{
    ViewBag.Title = "EmailError";
}
<br/>
<br/>
<div class="panel panel-danger">
    <div class="panel-heading">Email Error</div>
    <div class="panel-body panel-danger">
        An error has occured when trying to send the contact form, please try again later.
    </div>
</div>

