
@{
    ViewBag.Title = "Error";
}


<div class="panel panel-danger" style="margin-top: 50px;">
    <div class="panel-heading">     
        <h4>Error</h4>
    </div>
    <div class="panel-body">    
        <p>An error has occurred...please try again later.</p>
        @Html.ActionLink("Home","Index","Home", new { @class="btn btn-primary"})
    </div>
</div>