@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <p class="lead">Welcome to developer university, where I will store demos and examples of how to implement various features and functionality to your .NET MVC applications.</p>
    <p>To access more blog posts/text examples from me, visit my site by clicking the button below.</p>
    <p><a href="http://tylerablake.com/helpfulLinks" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>
