
@{
    ViewBag.Title = "MergingConflicts";
}



<div class="panel panel-primary" style="margin-top: 50px;">
    <div class="panel-heading">
        <h4>Merging Conflicts</h4>
    </div>
    <div class="panel-body">
        <p>I'm too lazy to add text for this right now, so visit the link below for an overview on how to merge conflicts with the merge tool inside of Visual Studio. :)</p>
        <a href="http://www.visualstudio.com/en-us/docs/tfvc/resolve-team-foundation-version-control-conflicts">How to merge conflcits</a>
    </div>
</div>
