@model DeveloperUniversity.Models.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "PartialExample";
}

<div class="panel panel-primary" style="margin-top:30px;">
    <div class="panel-heading">
        <h3>2 Partials Example</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Partial 1</h4>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_StudentsPartial", Model.StudentsList)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Partial 2 </h4>
                    </div>
                    <div class="panel-body">
                        @Html.Partial("_TodosPartial", Model.TodosList)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>