
@{
    ViewBag.Title = "ViewModelOverview";
}



<div class="panel panel-primary" style="margin-top: 50px;">
    <div class="panel-heading">
        <h4>What are ViewModels?</h4>
    </div>
    <div class="panel-body">
        <p>Click on the link below to go to my blog post about viewmodels. (<small>Someday I might copy that text here...</small>)</p>
        <a href="http://tylerablake.com/2016/08/01/mvc-tutorial-part5/" class="btn btn-success">To the blog post</a>

    </div>
</div>

