@{ ViewBag.Title = "AJAX Monthly Event Calendar for ASP.NET MVC"; }

<h2>AJAX Monthly Event Calendar for ASP.NET MVC</h2>

<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>




<script type="text/javascript">
    function editEvent(id) {
        var newName = prompt("New event name:", "Event");
        if (!newName) return;

        var props = { "id": id, "titleText": newName };

        $.ajax({
            url: "Calendar/Edit",
            contentType: "application/json",
            async: true,
            type: "POST",
            dataType: "json",
            data: JSON.stringify(props),
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("FAIL: " + errorThrown);
            },
            success: function (data, textStatus, jqXHR) {
                dp.init();
                console.log("SUCCES");
            }
        });
    };  
    
</script>